// 
// Colors
// 

// Primary 
$soft-blue: hsl(215, 51%, 70%); 
$cyan: hsl(178, 100%, 50%);

// Neutral 
$very-dark-blue-01: hsl(217, 54%, 11%); // Main Background
$very-dark-blue-02: hsl(216, 50%, 16%); // Card background
$very-dark-blue-03:  hsl(215, 32%, 27%); // Line 
$white: hsl(0, 0%, 100%);  


// 
// Fonts 
// 
$font-family-outfit: 'Outfit', sans-serif;